@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@300&family=Nunito:wght@700&family=Roboto:wght@100;500&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #006EFF;
    z-index: 1;
    width: 100%;
}
section{
    padding: 0 2%;
}

#menu-principal{
    display: block;
    position: relative;
}

#menu-principal ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#menu-principal ul .menu_item{
    text-align: center;
    display: block;
    position: relative;
    font-size: 1.2em;
    padding: 1.1em 2em;
    color: #FDB509;
    text-decoration: none;
}

#menu-principal ul .menu_item:hover{
    color: #006EFF;
    background-color: #FDB509;
}

#form_pesquisa{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    color: #FDB509;
    width: 100%;
}

#form_pesquisa input{
    background: none;
    border: .2em solid #FDB509;
    color: #FDB509;
    padding: 5px 10px;
    border-radius: 1em;
    margin-left: 2%;
    outline-style: none;
}

#form_pesquisa input::placeholder{
    color: #ffd36c;
}

main{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 8% 0 4% 0;
    background-color: #dadada;
}

#form_contato{
    display: grid;
    place-items: center;
    padding: 2%;
    background-color: #006EFF;
    font-size: 1.5em;
    width: 40%;
    border-radius: 1em;
}

#form_contato h1{
    color: #FDB509;
}

#titulo_form{
    font-size: 1.1em;
    margin-bottom: 4%;
}

#informacoes{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

#dados_nome{
    display: flex;
    flex-direction: row;
    gap: 4%;
}

.nome{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    margin-bottom: 4%;
}

.nome label{
    color: #fff;
    padding-bottom: 2%;
}


#dados_email{
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

#dados_email label{
    color: #fff;
    padding-bottom: 1%;
}

#form_contato input{
    width: 100%;
    box-sizing: border-box;
    font-size: .6em;
    padding: 12px 15px;
    border: none;
    border-radius: .4em;
    color: #006EFF;
    background-color: #e0e0e0;
    outline: none;
}

#form_contato input::placeholder, #mensagem textarea::placeholder{
    color: #2684ff52;
}

#mensagem{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mensagem label{
    color: #fff;
    padding-bottom: 1%;
}

#mensagem textarea{
    width:100%;
    font-size: .8em;
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: #e0e0e0;
    color: #006EFF;
    border-radius: .8em;
    outline: none;
}

#btn{
    margin-top: 3%;
    padding: 1.5% 4%;
    font-size: .8em;
    border: none;
    border-radius: .6em;
    background-color: #FDB509;
    color: #fff;
    transition: .5s;
}

#btn:hover{
    background-color: #FDB509;
    transform: scale(1.1);
    cursor: pointer;
}

footer{
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #006EFF;
    color: #FDB509;
}

#orcamento{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 4%;
    width: 100%;
    margin-top: 1%;
}

.dados_usuario, #produtos, #btn_rodape{
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
}

footer label{
    margin-bottom: 1%;
    color: #fff;
}

footer input{
    padding: 2% 4%;
    outline: none;
    background: none;
    border: .15em solid #fff;
    outline: none;
    font-size: 1em;
    color: #fff;
    border-radius: .6em;
}

#produtos label{
    margin-bottom: .1em;
}

footer textarea{
    padding: 1% 2%;
    font-size: 1em;
    background: none;
    border: .2em solid #fff;
    color: #fff;
    outline: none;
    border-radius: .8em;
}

footer input::placeholder, footer textarea::placeholder{
    color: #c7c7c7;
}

.dados_usuario{
    width: 15%;
}

#produtos{
    width: 40%;
}

.elementos label{
    margin-bottom: 1%;
}

#btn_rodape button{
    font-size: 1em;
    padding: 8px 15px;
    border: none;
    border-radius: .8em;
    color: #fff;
    background-color: #FDB509;
    transition: .3s;
}

#btn_rodape button:hover{
    cursor: pointer;
    transform: scale(1.1);
}